#toTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

#toTop:hover {
  padding-bottom: 20px;
}
